*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  .poke-card{
    border: 2px solid red;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    height: 175px;
    cursor: grab;
    .img-container{
      display: flex;
      justify-content: center;
    }
    p{
      text-align: center;
      width: 150px;
    }
  }
  .poke-stock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #c7c7c7;
    padding: 40px;
  }
  .deck{
    display: flex;
    height: 200px;
    margin: 25px;
    .cell{
      background-color: white;
      border: 5px solid gray;
      width: 100%;
    }
  }
}